<div class="page-body ">
  <div class="carousel">

    <div class="show-hide" >
        <i id="icon" (click)="toggleShow()" class="fa fa-angle-double-up"></i>
    </div>
    <div class="owl-carousel owl-theme">
      <div *ngFor="let video of videos">
        <a routeLink="goTo(video.id)">{{video.name}}</a>
        <img (click)="goTo(video.id)" class="img-thumbnail" src="{{video.img}}" alt="">
      </div>
    </div>

  </div>
  <div class="video-background">
    <div class="video-foreground">
      <iframe style="z-index: 999; position: relative" *ngIf="!firstChoosed" src="https://www.youtube.com/embed/24nBsXE7yAU?controls=0&showinfo=0&rel=0&autoplay=1&loop=1"
        width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
      <router-outlet  #o="outlet" name="videooutlet"></router-outlet>
    </div>
  </div>
  <!-- <div id="vidtop-content">
    <div class="vid-info section-photo">
      <h1>{{item.name}}</h1>
      <p>{{item.caption}}</p>

    </div>
  </div> -->
</div>