@import "../app.component.css";

.page-body{
    overflow: hidden;
    object-fit: cover;
    background-size: 105vh;
}
.column{
    margin: 10px;
}
.main{
color: white;
}
.section-caption, .section-title .section-photo{
    position: relative;
}
.photo-caption{
    position: absolute;
    bottom: 10px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.233)
}
.page-bg{
    position: fixed;
    height: 105vh;
    overflow: hidden;
    width: 101vw;
    object-fit: cover;
    background: url('../../assets/images/bg1.jpg');
    background-size: cover;
    background-position: center center;
}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: absolute;
  overflow: hidden;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 0;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;

}
#vidtop-content {
    top: 20px;
    right: 20px;
	color: #fff;
}
.video-overlay{
    position: absolute;
    z-index: 5;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0)
}

.vid-info { position: absolute; top: 50%; right: 10%; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}