@import "../app.component.css";

.page-body{
    overflow: hidden;
    object-fit: cover;
    background-size: 105vh;
}
.column{
    margin: 10px;
}
.main{
color: white;
}
.section-caption, .section-title .section-photo{
    position: relative;
}
.photo-caption{
    position: absolute;
    bottom: 10px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.233)
}
.page-bg{
    position: fixed;
    height: 105vh;
    overflow: hidden;
    width: 101vw;
    object-fit: cover;
    background: url('../../assets/images/bg3.jpg');
    background-size: cover;
    background-position: center center;
}