<img  class="page-bg">
<div class="page-body">

  <main class="main">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
  
          <div class="card align-center section-photo">
            <img class="card-img-top" src="{{item.photo}}" alt="">
            <h3 class="photo-caption">Some Text</h3>
          </div>
        </div>
        <div class="col-md-8">
            <div class="row">
              <h1 class="section-title">{{item.name}}</h1>
              <p class="section-caption">{{item.caption}}</p>
            </div>
            <div class="row">
  
            </div>
  
          </div>
      </div>
    </div>
  </main>
</div>
